:root {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  list-style: none;

  --primary-color: #fff;
  --primary-color-bg: #fff;

  --secondary-color: #5B39D5;
  --secondary-color-bg: #5B39D5;
  --secondary-color-darker: #32159D;
  --secondary-color-lighter: #dfd7ff;

  --text-color-dark: #000;
  --text-color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
}