header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  top: 0;
  transition: 0.5s;
  height: 10vh;
  box-sizing: border-box;
}
.header-scroll {
  background-color: var(--primary-color-bg);
}

.header-right {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: flex-start;
}
.header-right .hire-btn {
  background-color: var(--primary-color-bg);
  color: var(--text-color-dark);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}
.header-right .hire-btn-scroll {
  background-color: var(--secondary-color-bg);
  color: var(--text-color-light);
}

.header-left {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: flex-start;
}
.header-left nav .menu {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  justify-content: space-around;
  align-items: center;
  padding-right: 5%;
  list-style-type: none;
}
nav .menu li {
  margin: 20px 3rem;
}
nav .menu li a {
  color: var(--text-color-dark);
  text-decoration: none;
  font-size: 25px;
}

.header-left .logo-container {
  display: flex;
  align-items: center;
  width: 10%;
  margin-left: 1.5%;
}
.header-left .owner-logo {
  width: 20%;
}
.header-left .app-logo {
  width: 80%;
}

.menu li a.color {
  color: var(--text-color-dark);
}
.menu li a:hover {
  color: var(--secondary-color);
}

header .menu-btn {
  margin-right: 3%;
  display: none;
  z-index: 1;
}

@media (max-width: 1280px) {
  nav .menu li a {
    font-size: 18px;
  }
  .header-right .hire-btn {
    font-size: 16px;
  }
}
@media (max-width: 1124px) {
  nav .menu li a {
    font-size: 16px;
  }
}
@media (max-width: 1067px) {
  nav .menu li {
    margin: 15px 2.5rem;
  }
  nav .menu li a {
    font-size: 16px;
  }
  .header-left .logo-container {
    width: 15%;
    margin-left: 1.5%;
  }
}
@media (max-width: 1024px) {
  nav .menu li {
    margin: 15px 2.1rem;
  }
  nav .menu li a {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  header {
    height: 60px;
  }
  nav .menu li {
    margin: 15px 1.6rem;
  }
}

@media (max-width: 768px), (max-aspect-ratio: 1/1) {
  header {
    justify-content: space-between;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color-bg);
    display: none;
  }
  .header-left nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
  }
  nav .menu li a {
    font-size: 25px;
  }
  header .menu-btn {
    display: block;
  }
  .header-right {
    display: none;
  }
  .header-left .logo-container {
    width: 20%;
    margin-left: 1.5%;
  }
}

.display-block {
  display: block;
}
